.strip{
    width: 100vw;
    height: 70px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.salebanner{
  background-color: #f0ebeb; 
  color: #111;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.5px;
  height: 100%;
  width: 100%;
}

.shop{
    font-size: 14px;
    padding-top: 5px;
    text-decoration: underline;
}

@media (max-width: 500px) {
    .strip{
      display: flex;
      flex-direction: column;
      height: 100px;
    }
    
}
